---
vault_system_user_registry:
vault_system_user_gateway:
vault_system_user_auth:
vault_system_user_matchmaking:
vault_system_user_admin:

vault_github_user:
vault_github_token:
vault_github_client_id:
vault_github_client_secret:
