---
vault_system_user_registry:
vault_system_user_gateway:
vault_system_user_auth:
vault_db_user_auth:
vault_db_pass_auth:
vault_system_user_matchmaking:
vault_db_user_matchmaking:
vault_db_pass_matchmaking:
vault_system_user_collection:
vault_db_user_collection:
vault_db_pass_collection:
vault_system_user_quests:
vault_db_user_quests:
vault_db_pass_quests:
vault_system_user_admin:
vault_www_user_admin:

vault_github_user:
vault_github_token:
vault_github_client_id:
vault_github_client_secret:

vault_gateway_jwt_secret:
