[registry]
127.0.0.1   ansible_connection=local

[gateway]
127.0.0.1   ansible_connection=local

[auth]
127.0.0.1   ansible_connection=local

[matchmaking]
127.0.0.1   ansible_connection=local

[collection]
127.0.0.1   ansible_connection=local

[admin]
127.0.0.1   ansible_connection=local

[elk]
127.0.0.1   ansible_connection=local
